{% extends '::base.html.twig' %}
{% block body %}
<table class="pure-table">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td>{{ entity.nombre }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('carrera_edit', { 'id': entity.id }) }}" class="button">
            Editar
        </a>
    </li>
    <li>
        <form action="{{ path('carrera_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Eliminar</button>
        </form>
    </li>
</ul>
{% endblock %}
