{% extends '::base.html.twig' %}
{% block stylesheets %}
<link href="{{ asset('bundles/alumno/css/base.css') }}"  rel="stylesheet"  type='text/css' />
<link href="{{ asset('bundles/alumno/css/skeleton.css') }}"    rel="stylesheet"  type='text/css' />
<link href="{{ asset('bundles/alumno/css/layout.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block body %}
<h1>Alumnos</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('alumno_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.nombre }}</td>
            <td>{{ entity.apellidopaterno }}</td>
            <td>{{ entity.apellidomaterno }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('alumno_show', { 'id': entity.id }) }}">Consultar</a>
                    </li>
                    <li>
                        <a href="{{ path('alumno_edit', { 'id': entity.id }) }}">Editar</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('alumno_new') }}" class="button">
            Alumno nuevo
        </a>
    </li>
</ul>
{% endblock %}
{% block javascripts %}{% endblock %}