{% extends '::base.html.twig' %}
{% block stylesheets %}
<link href="{{ asset('bundles/alumno/css/base.css') }}"  rel="stylesheet"  type='text/css' />
<link href="{{ asset('bundles/alumno/css/skeleton.css') }}"    rel="stylesheet"  type='text/css' />
<link href="{{ asset('bundles/alumno/css/layout.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block body %}
<h1>Nuevo</h1>

<form action="{{ path('alumno_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Grabar</button>
    </p>
</form>
{% endblock %}
{% block javascripts %}{% endblock %}
