{% extends '::base.html.twig' %}
{% block body %}
<h1>Alumnos</h1>
<table class="pure-table">
     <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th>
        </tr>
     </thead>
     <tbody>
        <tr>
            <td>{{ entity.id }}</td>
            <td>{{ entity.nombre }}</td>
            <td>{{ entity.apellidopaterno }}</td>
            <td>{{ entity.apellidomaterno }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('alumno_edit', { 'id': entity.id }) }}" class="pure-button pure-button-primary">
            Editar
        </a>
    </li>
    <li>
        <form action="{{ path('alumno_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit" class="pure-button pure-button-error">Eliminar</button>
        </form>
    </li>
</ul>
{% endblock %}
